<!doctype html>
<html>
<head>
  <title>Ratings</title>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
  <h1><a href="/">Judgmental Eye</a></h1>
    <span id="user_status"></span>
  <hr>
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  {% block content %}
  {% endblock %}
  <script>
    $.get("/checksession", function(result) {
        if (result !== 'Does Not Exist') {
          $('#user_status').html("Signed in as: " + result + "<br><a href=\"/signout\">Sign Out</a>");
        } else {
          $('#user_status').html("<a href=\"/signup_form\">Sign Up</a> | <a href=\"/signin\">Sign In</a>");
        }
    } );
  </script>
</body>
</html>