{% extends 'base.html' %}
{% block content %}

    <h2>Sign Up for An Account</h2>
    
    <form action="/confirm_signup" method="POST">
      <label>Enter Your Email</label>
      <input type="text" id="user_email" name="user_email" placeholder="eg. name@domain.com" required>
      
      <br>

      <label>Enter Password</label>
      <input type="password" id="user_password" name="user_password" required>

      <br>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up
      </button>

    </form>

{% endblock %}